<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>Guest List</title>
</head>
<body>
<th:block th:include="template :: navigator"/>
<h2>Guest List:</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3">Name</div>
        <div class="col-md-3">Surname</div>
        <div class="col-md-3">City</div>
        <div class="col-md-3">Country</div>
    </div>
    <div class="row" th:each="guest : ${guestList}">
        <div class="col-md-3" th:text="${guest.getName()}"></div>
        <div class="col-md-3" th:text="${guest.getSurname()}"></div>
        <div class="col-md-3" th:text="${guest.getCity()}"></div>
        <div class="col-md-3" th:text="${guest.getCountry()}"></div>
<!--        <div class=col-md-2>
            <a th:href="@{'/admin/delete/' + ${user.getId()}}" class="form-control button roundless">Remove</a>
        </div>-->
    </div>
</div>
<th:block th:include="template :: scripts_footer"/>
</body>
</html>