<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>Reservation List</title>
</head>
<body>
<th:block th:include="template :: navigator"/>
<h2>Reservation List:</h2>
<div class="container">
    <div class="row">
        <div class="col-md-2">CheckIn Date</div>
        <div class="col-md-2">CheckOut Date</div>
        <div class="col-md-2">Name</div>
        <div class="col-md-2">Surname</div>
        <div class="col-md-2">Country</div>
        <div class="col-md-2">City</div>
    </div>
    <div class="row" th:each="reservation : ${reservationList}">
        <div class="col-md-2" th:text="${reservation.getCheckInDate()}"></div>
        <div class="col-md-2" th:text="${reservation.getCheckOutDate()}"></div>
        <div class="col-md-2" th:text="${reservation.guest.getName()}"></div>
        <div class="col-md-2" th:text="${reservation.guest.getSurname()}"></div>
        <div class="col-md-2" th:text="${reservation.guest.getCountry()}"></div>
        <div class="col-md-2" th:text="${reservation.guest.getCity()}"></div>
    </div>
</div>
<th:block th:include="template :: scripts_footer"/>
</body>
</html>